@charset "UTF-8";
%arial{font-family:$baseNumFamily;}

%white-bg{background:#fff;}
@mixin fontSize($value){
  font-size:$value + px;
}
%fontSize10{
  @include fontSize(10);
}
%fontSize12{
  @include fontSize(12);
}
%fontSize14{
  @include fontSize(14);
}
%fontSize16{
  @include fontSize(16);
}
%fontSize18{
  @include fontSize(18);
}
%fontSize20{
  @include fontSize(20);
}
%fontSize22{
  @include fontSize(22);
}
%fontSize24{
  @include fontSize(24);
}
%fontSize26{
  @include fontSize(26);
}
%fontSize28{
  @include fontSize(28);
}
%fontSize30{
  @include fontSize(30);
}
/**
    @Name: Eex 1.0 button mixin
    @Overview: button mixin
    @Require: @mixin %
    @Author: zyl
    @time:2016/5/18/
**/

@mixin buttonCom($width, $height, $color, $bgcolor, $radius, $padding){
  @if $width != 'auto'{
    width:$width -  $padding*2;
  }@else{
        width:$width;
  }
    @extend %display;
    padding-right:$padding;
    padding-left:$padding;
    @include height(true, $height, $height);
    @include prefixer(border-radius, $radius, webkit o moz);
    color:$color;
    background-color: $bgcolor;
    @extend %textAlign;
}
/*
  文本间的 单线条
 */
@mixin lineMid($width:2px, $height:40px, $margin:5px 15px 0){
  width:$width;
  border-left:$gray_d 1px solid;
  @include height(false, $height, auto);
  margin: $margin;
  @extend %display;
  @include fontSize(0);
}
// 遮罩层
%mask_bg{
  width: 100%; height: 100%;
  @include opacity;
  @include bgcolor-alpha($bgcolor: rgba(0,0,0,.5));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
// 定位 position relative obsolute fixed ...
@mixin position($value, $extend:false){
 @if($extend){
  @extend %relative;
  }@else{
     position: $value;
  }
}
%relative{
  @include position(relative);
}
%absolute{
  @include position(absolute);
}
//页面 body width value set
@mixin containerWidth($containerWidth,$value: auto){
   width:$containerWidth;
   margin:$value;
}
%containerWidth{
  @include containerWidth(1200px);
}
//最小宽度
@mixin minWidth{
  width:100%;
  min-width: 1200px;
}
%minWidth{
  @include minWidth;
}

//高度与行高的配置
@mixin height($extend:true, $height : auto, $lineHight:auto){
    @if($extend){
        height:$height;
        line-height: $lineHight;
    } @else{
        height:$height;
    }
}
%minHeight{
  min-height:500px;
}

// 文字设置
@mixin fontStyle($size, $color, $family){
  @include fontSize($size);
  color: $color;
  font-family: $family;
}

//文本左，中，右对齐方式
@mixin textAlign($direction:center){
  text-align:$direction;
}

%textAlign {
  @include textAlign(center);
}
//文本上下对齐的方式
@mixin vam($direction:middle){
  vertical-align:$direction;
}
%ovh{overflow:hidden;}
%fwb{font-weight:bold;}
%vam{
  @include vam(middle);
}
//display状态提取
@mixin display($state:inline-block){
  display: $state;
}

%display{
  @include display(inline-block);
   @if $lte7 {
      *display: inline;
      *zoom:1;
   }
}


//icon 图标 雪碧图 sass + compass 雪碧图片 @mixin  引用 方式 @include iconall(对应icon图片名称)；
// @mixin iconsall($value){
//     @extend %display;
//     @include icons-sprite($value);
//     @extend %vam;
// }
// 文本超出 显示省略号 ……
@mixin ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  @extend %ovh;
}
%ellipsis{
  @include ellipsis;
}

%fonticon{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* end */
/* 制作三角 */
// @mixin triangle($size, $color: transparent transparent transparent #fff){
//   @extend %display;
//   width:0;
//   height:0;
//   border-width:$size;
//   border-color:$color;
//   border-style:solid;
// }
//
//pop style footer button
@mixin pop-buttons($align, $calign){
  @include textAlign($align);
  input[type="submit"]{
    margin-right:16px;
  }
  input[type="submit"],input[type="reset"],input[type="button"]{
    @extend %display;
    width: 97px;
    height:30px;
    font: normal 12px/normal 'Microsoft Yahei';
    @include textAlign($calign);
    &.pop-buttons-yes{
      color:#fff;
      border:#e1c325 solid 1px !important;
      // background:#28c570; // 成功确认信息
      background:#e1c325 !important; //警告 确认信息
      &:hover{
        color:#fff;
        background:#ffb625;
      }
    }
    &.pop-buttons-reset{
      border:#ccc solid 1px;
      color:#919191;
      background:none;
    }

  }
}
%pop-buttons{
  @include pop-buttons(center, center);
}


// Gradients
// Firefox 10+, Opera 11.6+, Chrome 26+ and IE10 also support the new "to (side)" syntax.
//-----------------------------------------------------
// 水平渐变，从右往左
// @include gradient-horizontal-right(#333, #ccc);
@mixin gradient-horizontal-right($gradient...){
  background-image: -webkit-linear-gradient(right, $gradient); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(right, $gradient); // Opera 11.10
  background-image: linear-gradient(to left, $gradient); // Standard, IE10
}
