@charset "UTF-8";
.el-tabs--card{
	.el-tabs__header{
		background:#cfd6e0;
		color:#4583c0;
		.el-tabs__nav{
			border:none;
		}
	}
}
.el-tabs__item{
	@include height(true, 2.8rem, 2.8rem);
	margin-top:0.8rem;
	font-size:1.6rem;
	color:#4583c0;
	&.is-active{
		background:#fff;
		color:#303133;
	}
}
.el-table {
	th{
		// text-align:center;
		background:#eee;
	}
}
.el-dialog__header{
	background:#18d6ba;
	.el-dialog__title{
		color:#fff;
	}
	.el-dialog__headerbtn {
		.el-dialog__close{
			color:#fff;
		}
	}
}
